.body{
	background: url(../img/bg.png);
}
/*----------home----------*/
.home{
	background: url(../img/home-bg.png);
}

/*----------media----------*/

@media (min-width: 1200px){
	div{
		padding: unset;
		margin: 0;
		width: 100%;
	}
	.body{
		padding: 20%;
		background-position:center; 

	}
	.home{
		padding:350px;
		background-position:center; 
	}

	.header{
		width: 100%;
		padding: 25px;
		background-color: #b0d6f3;
	}

	.header div#logo{
		margin: -22px 50px;
		height: 70px;
		/* float: left; */
		/* width: 230px; */
	}


	.header ul{
		margin-top: -20px;
		list-style:none;
		float:right;
	}
	.header ul li{
		float:left;
	}
	.header ul li a:hover{
		color:#225270;
	}


	.header ul li a{
		margin: 30px;
		font-size:16px;
		text-shadow: 0 2px 0 #d1e6f7;
		text-decoration:none;
		color:#2d495e;
		font-family: 'RokkittRegular';
		padding:0 0 0 20px;
	}

	/*----------body----------*/

	.body div#featured{
		/* margin: -50px -5px 0 25px; */
		padding: 6px;
	}
	.body div#featured input{
		border-color: rgb(119, 170, 212);
		border-radius: 10px 10px ;
		font-family: 'RokkittRegular';
		color:#32617f;
		margin: 20px;
		font-size:18px;
	}
	.body div a#reg{
		color:#32617f;
		font-size:16px;
	}
	.body div#featured button{
		box-shadow: 0px 10px 14px -7px #276873;
		background:linear-gradient(to bottom, #90d6f0 5%, #5ea2ad 100%);
		background-color:#90d6f0;
		border-radius:8px;
		/* display:inline-block; */
		margin: -20px;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:20px;
		font-weight:bold;
		padding:5px 50px;
		text-decoration:none;
		text-shadow:0px 1px 0px #0f7394;
	}


	/*----------profile----------*/

	.profile-body {
		margin: -50px -5px 0 25px;

	}
	/* .profile-body div#bg{
		margin: 50px -400px;
		height: 30pc;
		width: 90pc;
		padding: 9pc;
	} */

	.profile-body div div#avatar{
		margin-top: 3pc;
		/* margin-left: 15pc; */
		padding: 100px;
		width: 150px;
		height: 150px;
	}

	.profile-body div div#featured{
		margin-top: -100px;
		margin-left: -15pc;
		font-family: 'RokkittRegular';
		font-size: 20px;
		color:#1c3b4e;

	}

	.profile-body div#featured div{
		margin-right: 20pc;
	}

	div #main-featured{
		margin-top: 20px;
		margin-left: 70px;
	}

	.card{
		width: 80%;
		background-color: rgb(194, 213, 224);
	}
	.problem-card{
		display: block;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.body-problem{
		/* background-color: rgb(195, 222, 250); */
	
		background-position: center;
		padding: 5%;
	}
	.card-header{
		font-size: 20px;
		font-weight: bold;
	}
	.card-body{
		font-size: 20px;
	}
	.card-text{
		font-size: 15px;
	}

	.choices ul{
		margin-top: -8%;
		margin-left: 33%;
		list-style:none;
		float:unset;

	}
	.choices ul li{
		float:left;
		padding: 2%;

	}
	.choices ul li a:hover{
		color:#9bc3c4;
	}
}



/*----------header----------*/
.header{
	background-color: #b0d6f3;

}

.header div#logo{
	background: url(../img/logo.png) no-repeat !important;
}



.header ul li a{
	background:url(../img/interface.gif) no-repeat !important;
}


.profile-body div div#avatar{
	background: url(../img/avatar.png);

}

.choices-buttons{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex: 1;
	width: 60%;
}